@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------global classes---------- */

.hint {
    @apply flex items-center text-[10px] mt-[10px] duration-200 relative;
}

.hint.empty {
    @apply text-[#dd5454];
}

.hint > span {
    @apply ml-[5px];
    word-spacing: 3px;
}

.container form label {
    @apply text-[14px] font-normal mb-[9px] capitalize;
}

.container form .field {
    @apply flex flex-col mt-[20px];
}

.container form .field > input {
    @apply focus:outline-none bg-colorFieldBack border-[2px] border-borderColor p-[10px] rounded-[10px];
}

/* ---------------------------------- */

body {
    @apply bg-[url('../images/background-mobile.png')] text-white
    md:bg-[url("../images/background-tablet.png")]
    lg:bg-[url("../images/background-desktop.png")];
}

body > img {
    @apply absolute;
}

body > img:first-child {
    @apply top-[60%] left-[60%];
}

body > img:nth-child(2) {
    @apply top-[0] left-[0];
}

body > img:nth-child(3) {
    @apply top-[116vh] w-[300px] sm:w-[760px] sm:top-[100vh];
}

body > img:nth-child(4) {
    @apply right-0 sm:w-[449px] w-[270px];
}

body > img:nth-child(5) {
    @apply left-0 top-[-25px] sm:w-[217px] w-[100px];
}

/* ---------- container rules ---------- */

.container {
    @apply max-w-[550px] mx-auto my-[50px] px-4 relative z-50;
}

.container .baseHeader {
    @apply flex justify-center;
}

.container .baseHeader > img {
    
}

.container .bigTitle {
    @apply mt-[50px] mb-[25px] text-[30px] font-bold text-center capitalize tracking-[1px]
    sm:text-[35px];
}

.container .secure {
    @apply text-center mb-[25px] text-[15px] tracking-[1px] ;
}

/* ---------- form rules ---------- */

.container form {
    @apply max-w-[350px] mx-auto;
}

.container form .avatar {

}

.container form .avatar > label {

}

.container form .avatar .content {
    @apply my-[10px] flex flex-col items-center justify-center 
    min-h-[160px] rounded-[10px] border-2 border-dashed border-colorborder
    bg-colorFieldBack p-[15px];
}

.container form .avatar .content input[type="file"] {
    @apply hidden;
}

.container form .avatar .content > img {
    @apply p-[5px] bg-colorImgBack rounded-[10px]
    border border-solid cursor-pointer max-w-[100px];
}

.container form .avatar .content > .text {
    @apply mt-[5px];
}

.container form .avatar .content > .text button {
    @apply bg-colorImgBack text-[10px] p-[2px_5px] rounded-[4px];
}

.container form .avatar .content > .text button:first-child {
    @apply underline;
}

/* ---------- name field rules ---------- */

.container form .nameField .hint1 {
    /* opacity: 0; */
    display: none;
}

/* ---------- email field rules ---------- */

.container form .emailField .hint2 {
    /* opacity: 0; */
    display: none;
}

/* ---------- github username field rules ---------- */

.container form .githubField .hint3 {
    /* opacity: 0; */
    display: none;
}

/* ---------- submit button rules ---------- */

.container form .submit {
    @apply text-colorText text-center w-full p-[8px] bg-colorTextBack 
    mt-[20px] rounded-[11px] text-[17px] font-medium capitalize cursor-pointer;
}

/* --------------------ticket page---------------- */

.container2 {
    @apply max-w-[450px] mx-auto z-50 relative mt-[50px] text-center p-[15px];
}

.container2 > img {
    @apply m-auto;
}

.container2 .helloP {
    @apply text-[38px] font-semibold my-[25px]
    tracking-[1px] leading-[1.3];
}

.container2 .helloP span.name {
    @apply text-colorTextBack font-[40px];
}

.container2 > p {
    @apply font-[13px] mt-[20px] mb-[60px];
}

.container2 > p span.email {
    @apply text-colorTextBack;
}

/* ticket rules */

.container2 .ticket {
    @apply bg-[url('../images/pattern-ticket.svg')]
    p-[15px] max-w-[350px] bg-contain bg-no-repeat mx-auto;
}

.container2 .ticket .text {
    
}

.container2 .ticket .title {
    @apply flex items-center;
}

.container2 .ticket .text .title img {
    
}

.container2 .ticket .text .title p {
    @apply text-[22px] font-semibold capitalize ml-[15px];
}

.container2 .ticket .text .date {
    @apply text-left my-[5px] ml-[60px] text-[11px]
    tracking-[1px] text-colorImgBack;
}

/* information rules */

.container2 .ticket .info {
    @apply flex items-center gap-[20px] mt-[20px];
}

.container2 .ticket .info > img {
    @apply max-w-[50px] rounded-[5px] max-h-[50px];
}

.container2 .ticket .info .info2 {

}

.container2 .ticket .info .info2 p:first-child {
    @apply font-[18px];
}

.container2 .ticket .info .info2 p:last-child {
    @apply flex items-center font-[12px];
}

.container2 .ticket .info .info2 p:last-child img {
}

.container2 .ticket .info .info2 p:last-child span.github {
    @apply ml-[4px];
}